# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/schedule_db?schema=public"

# Auth Service
AUTH_SERVICE_URL="http://localhost:3001/graphql"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youraccount@gmail.com
SMTP_PASS=your_app_password

# App
PORT=3002
